<footer>
	<div class="container">
		<div class="row">
			<div class="five columns alpha">
				<p class="address"><a href="https://citymapper.com/go/generalstore" title="Get directions on Citymapper" target="_blank">174 Bellenden Road 
				<span class="break">Peckham SE15 4BW</span></a></p>
			</div>
			<div class="four columns offset-by-one">
			<img src="{{ "logo-small.svg" | asset_url }}" alt="General Store logo" class="small-logo" />
			</div>
			<div class="five columns offset-by-one omega">
				<p class="contact"><a href="mailto:hello@generalsto.re" title="email General Store">hello@generalsto.re</a> 
				<span class="break">0207 642 2129</span></p>
			</div>
		</div>
	</div>
</footer>