<header>
	<img src="{{ "general-store.svg" | asset_url }}" class="main-logo" alt="General Store" />
	<!-- todo: add other images -->
	<nav>
		<a href="#modal" title="Opening times" class="opening-link">Openin<span class="remove-spacing">g</span> <span class="break">times</span></a>
	</nav>
	<h1 class="hidden-text">General Store</h1>
	<div class="photography clearfix"><span class="camera"><a href="/" title="refresh"><b>Photography by</b> </a></span><span class="fox"><a href="http://www.annaandtam.com/blog/2015/2/12/general-store" title="Anna + Tam" target="_blank"><b>Anna + Tam</b></a></span></p>
</header>