<div id="modal">
	<div class="modal-content">
		<div class="copy hours">
			<dl class="clearfix">
        		<dt>Mon</dt>
        		<dd><small>Closed</small></dd>

				<dt>Tues</dt>
        		<dd><small>Closed</small></dd>

        		<dt>Weds</dt>
        		<dd>9&ndash;7</dd>

				<dt>Thurs</dt>
        		<dd>9&ndash;7</dd>

        		<dt>Fri</dt>
        		<dd>9&ndash;7</dd>

				<dt>Sat</dt>
        		<dd>9&ndash;5</dd>

        		<dt>Sun</dt>
        		<dd>10&ndash;4</dd>
    		</dl>
		</div>
	</div>
	<div class="overlay"></div>
</div>