{% block content %}
	<div class="container vine-start">
		<div class="row">
			<div class="ten columns offset-by-three">
				<p>General Store is a neighbourhood grocery shop in Peckham, South London.</p>

				<p>We sell cheese, bread, coffee, wine, beer, seasonal fruit and vegetables, and lots of store cupboard essentials.</p>

				<p>We work with producers and suppliers who focus on the quality, integrity and provenance of their produce.</p>

				<p><a href="http://blog.generalsto.re" title="General Store on Tumblr">Follow us on Tumblr</a></p>
			</div>
			<div class="four columns offset-by-six">
				<a href="http://twitter.com/general_store" title="General Store on Twitter">
					<img src="{{ "twitter.png" | asset_url }}" alt="twitter" class="link-social" />
				</a>
				<a href="http://instagram.com/general_store" title="General Store on Instagram">
					<img src="{{ "instagram.png" | asset_url }}" alt="twitter" class="link-social">
				</a>
			</div>
		</div>
	</div>
{% endblock %}